* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

main {
    padding: 36px;
}

.header {
    display: flex;
    height: 65px;
    background: linear-gradient(90deg, #672280 0%, #A626D3 100%);
    align-items: center;
    color: #FFF;
    padding: 32px;
}

.header--image {
    width: auto;
    height: 45px;
    margin-left: 10px;
}

.header--title {
    margin-right: auto;
    margin-left: 10px;
    color: #FFF;;
    letter-spacing: -1px;
}

.header--subtitle {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form--input {
    color: #0D0D0D;
    font-weight: 400;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(135deg, #711F8D 0%, #A818DA 100%);
    color: #FFF;
    border: none;
}

